.form__label, .form__input{
    width: 50%;
}

@media screen and (max-width: 768px){
    .form__label, .form__input{
        width: 65%;
    }
}

.form__label{
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 4rem;
    text-align: center;
}

.form__label.invalid{
    color: red;
}

.form__input{
    display: block;
    margin-top: 0.5rem;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 10rem;
}

.form__input.invalid{
    border: 1px solid red;
}

.form__input::placeholder{
    color: #aeaeae;
}