.form{
    background-color: #333333;
    height: 50%;
    width: 50rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 2rem;
}

@media screen and (max-width: 768px){
    .form{
        height: 50%;
        width: 100%;
    }
}

.form__element{
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.form__element > label, .form__element > input{
    display: block;
}

.form__element > label{
    width: 100%;
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.form__element > input{
    height: 1rem;
    width: 100%;
    border-radius: 0.2rem;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: none;
}

.form__radio{
    display: flex;
}

.form__radio__element{
    display: flex;
    align-items: center;
}

.form__radio__element:nth-child(2){
    margin-left: 1rem;
}

.form__radio__element > label{
    font-size: 1.8rem;
}

.form__radio__element > input{
    width: 2rem;
    height: 2rem;
    margin: 0;
    margin-left: 0.5rem;
}

select {
    appearance: none;
    background-color: #e8e8e8;
    border: none;
    padding: 0.5rem;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}

.form__checkbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.form__checkbox__element:nth-child(2){
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.form__checkbox__element > input{
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
    margin: 0;
}

.form__checkbox__element > label {
    font-size: 1.8rem;
    margin-left: 0.5rem;
}

.form__submit-button{
    display: block;
    border: none;
    height: 4rem;
    width: 100%;
    background-color: #008EE5;
    color: white;
    border-radius: 1rem;
    transition: all 300ms;
    font-size: 1.8rem;
}

.form__submit-button:hover{
    cursor: pointer;
    background-color: #007ECB;
}