/* CSS Utilies */
p{
    margin: 0;
}

button{
    display: block;
    padding: 1rem;
    border: none;
    font-size: 1.4rem;
    background-color: #333333;
    color: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all 200ms;
}
button:hover{
    cursor: pointer;
    background-color: #454545;
}

/* CSS General Rules */
.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.card{
    background-color: #333333;
    width: 50%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin: 2rem 0;
}

@media screen and (max-width: 850px){
    .wrapper{
        align-items: initial;
    }
    .card{
        width: 100%;
    }
}

.image{
    width: 100%;
    height: 100%;
    background-image: url(./Img/japaneseCorridor.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.description > p{
    margin: 0 2rem;
}

.button-blue{
    border: 1px solid aqua;
}

.button-red{
    border: 1px solid indianred;
}