/* CSS Global Rules */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    height: 100vh;
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}